<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments1 :: head"></head>
<body class="container">
<nav th:replace="fragments1 :: navigation"></nav>
<form method="post" action="/category/carCategory/create">
    <div class="form-group">
        <label>Category
            <input th:field="${carCategory.brand}" class="form-control">
        </label>
        <p class="error" th:errors="${carCategory.brand}"></p>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>
</body>
</html>