<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments1 :: head"></head>
<body class="container">

<nav th:replace="fragments1 :: navigation"></nav>
<p th:unless="${categories} and ${categories.size()}">No Categories!</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Category</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td><a th:text="${category.brand}" th:href="'/cars?categoryId=' + ${category.id}"></a></td>
    </tr>

</table>
</body>
</html>