<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace=" fragments1 :: head"></head>
<body class="container">

<nav th:replace="fragments1 :: navigation"></nav>

<form method="post">
    <th:block th:each="car : ${cars}">
      <div class="form-group">
          <label>
                <span th:text="${car.brand}"></span>
                <input type="checkbox" name ="carIds" th:value="${car.id}" class="form-control">
            </label>

      </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>